#brand {
    color: white;
    font-family: papyrus;
    font-size: 200%;
}

#brandstart {
    color: black;
    font-family: papyrus;
    font-size: 400%;
}

#navitem{
    font-size: 125%;
}

#center {
    text-align: center;
}

main {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#startdiv {
    background-image: url("https://i.pinimg.com/originals/ae/77/1b/ae771b7e8140ed86eb38e966f0374a73.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#musiclink {
    font-family: papyrus;
}


body {
    padding-top: 8em;
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 6em;
}

#startbody {
    padding-top: 4em;
}

#friendspage {
    padding-bottom: 2em;
    padding-top: 1em;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.center-cropped-small {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

}

h3 {
margin: 0;
display: inline-block;
}

.button-right{

float: right;
}


.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #00000;
  z-index: 9;
  border-radius: 2%;
  padding: 15px;
  margin-top: 5em;
}

.shadowdiv {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feed-item {
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;
    align-items: center;
    padding: 25px;
    margin: 10px;
}

.feed-info {
    align-items: center;
    margin-left: 10px;
}

.feed-time {
    float: right;
    font-size: 12px;
    color: grey;
}


