#brand {
    color: white;
    font-family: papyrus;
    font-size: 200%;
}

#brandstart {
    color: black;
    font-family: papyrus;
    font-size: 400%;
}

#navitem{
    font-size: 125%;
}

#center {
    text-align: center;
}

main {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#startdiv {
    background-image: url("https://ak5.picdn.net/shutterstock/videos/31097155/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#musiclink {
    font-family: papyrus;
}


body {
    padding-top: 8em;
    max-width: 100%;
    overflow-x: hidden;
}

#friendspage {
    padding-bottom: 2em;
    padding-top: 1em;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.center-cropped-small {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

}

h3 {
margin: 0;
display: inline-block;
}

.button-right{

float: right;
}
/*.backgroundz{*/
/*    background-image: url("musical.jpg");*/
/*    background-repeat: no-repeat;*/
/*      background-size: 100% 100%;*/
input {
    width: 800px;
    height: 100px;
}
::-webkit-textarea-placeholder {
   text-align: center;
}
.feed-username{
    font-size:20px;
}
.feed-comment{
    font-style:italic;
}
.feed-time{
    text-align:right;
}
.feed-container{
    display: inline-block;

}
.col-sm-8{
    outline: 2px solid black;
}
#feedhead{
        font-family: papyrus;
}
.feed-individual{
      outline: 1px dotted grey;
}

