{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form id="register" action="/changepassword" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="oldpass" name="oldpass" placeholder="Old password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="newpass" placeholder="New password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="confirmation" placeholder="Confirmation">
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Change</button>
    </form>

{% endblock %}