{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <div class="blocks shadowdiv animate-bottom">
        <h2><b>Following</b></h2>
        {% for user in followinglist %}
            <div class="row">
                <div class="col">
                    <input type="image" src="{{ user['profilepic'] }}" class="center-cropped-small" value="{{ user['username'] }}" name='username'>
                </div>
                <div class="col">
                    <form action="/profile" method="POST">
                        <input type="submit" class="btn default" value="{{ user['username'] }}" name='username' style="background-color: inherit; font-size: 20px; font-weight: bold">
                    </form>
                </div>
                <div class="col">
                    {% if user['userid'] in following %}
                        <button type="submit" class="btn btn-light text-white btn-sm buttons" onclick="changeButton(this)" value="{{ user['username'] }}" name='follow'>Unfollow</button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-light buttons-outline btn-sm" onclick="changeButton(this)" value="{{ user['username'] }}" name='follow'>Follow</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>

        // After clicking follow or unfollow button, change the appearance of the button
        function changeButton(button) {
            // Get the username of the followed person
            username = button.value;
            // Follow or unfollow user and change button
            $.ajax({
                type: "GET",
                url: "/follow?username=" + username,
                datatype: "json",
                async: false,
                success: function(data) {
                    // When following or unfollowing is succesfull
                    if (data == true) {
                        // Set button to a unfollow button when followed
                        if (button.className == "btn btn-outline-light buttons-outline btn-sm") {
                            button.innerHTML = "Unfollow";
                            button.className = "btn btn-light text-white btn-sm buttons";
                        }
                        // Set button to a follow button when unfollowed
                        else {
                            button.innerHTML = "Follow";
                            button.className = "btn btn-outline-light buttons-outline btn-sm";
                        }
                    }
                }
            });
        }

    </script>

{% endblock %}