{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div style="float: center">
        <input autocomplete="off" autofocus placeholder="Search for..." type="text" class="search" style="float: center">
    </div>


    <ul id='results'></ul>

    {% if users %}
    <hr class="featurette-divider">

    <h1 id="friendspage">Based on what you listen, we think you like these accounts!</h1>

    <div class="container marketing">
        <div class="row">
            {% for user in users %}

                <div class="col-lg-4">
                    <form action="/profile" method="POST">
                        <input type="image" src="{{ user['img'] }}" class="center-cropped" value="{{ user['name'] }}" name='username'>
                    </form>
                    <p></p>
                    <form action="/profile" method="POST">
                        <input type="submit" class="btn default" value="{{ user['name'] }}" name='username' style="background-color: inherit; font-size: 30px; font-weight: bold">
                    </form>
                    <p>Listening mostly to: {{ user['genre1'] }}, {{ user['genre2'] }} and {{ user['genre3'] }}</p>
                    <p>
                    <form action="/follow" method="post">
                        <button type="submit" class="btn btn-outline-success btn-sm" value="{{ user['name'] }}" name='follow'>Follow</button>
                    </form>
                    </p>
                </div>

            {% endfor %}
        </div>
    </div>

    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        let input = document.querySelector('.search');
        input.onkeyup = function() {
            $.get('/friendssearch?q=' + input.value, function(data) {
                document.querySelector('#results').innerHTML = data;
            });
        };

    </script>
{% endblock %}