<!DOCTYPE html>

<html lang="en">
    <head>

        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        {% for result in results %}
            <div class="row" style="margin-left: 400px; margin-right: 400px;">
                <div class="col">
                    <div class="center-cropped" style="background-image: url({{ result['profilepic'] }}"></div>
                </div>
                <div class="col">
                    {{ result['username'] }}
                </div>
                <div class="col">
                    <form action="/follow" method="post">
                    <button type="submit" class="btn btn-success btn-sm" value="{{ result }}" name='follow'>(Un)Follow</button>
                </form>
                </div>
            </div>
        {% endfor %}
    </body>

</html>