{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-8"><h3>Feed</h3>
        {% for data in shared %}
        <ul class="list-group">
            {% if data | length > 1 %}
            {% for mydata in data %}
            <li class="list-group-item"><b>{{ mydata['username'] }}:</b> {{ mydata['value'] }}  {{ mydata['time'] }}</li>
            {% endfor %}
            {% else %}
            <li class="list-group-item"><b>{{ data[0]['username'] }}:</b> {{ data[0]['value'] }}  {{ data[0]['time'] }}</li>
            {% endif %}
        </ul>
        {% endfor %}

        </div>
        <div class="col-sm-4">
            <h2>Recommendations based on what your friends listen!</h2>
            {% if not titles %}
                You are not following anyone! Start following users to get recommendations based on what they listen!
                <p></p>
                <form method="get" action="/friends">
                    <button class="btn btn-primary" type="submit">Find friends!</button>
                </form>
            {% endif %}
            {% for title in titles %}
            <a href="{{ title['link'] }}">
                <div class="row align-items-center" href="{{ title['link'] }}">
                    <div class="col-2">
                        <img src="{{ title['img'] }}" width="50px">
                    </div>
                    <div class="col-8" style="font-size: 12px; text-align: left; text-color: black;">
                        {{ title['name'] }} - {{ ', '.join(title['artists']) }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>

{% endblock %}