{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">
            <div class="center-cropped" style="background-image: url({{ profilepic }});"></div>
        </div>
        <div class="col">
            <h3 style="padding-bottom: 60px;">{{ gebruikersnaam }} <form action="/settings"><button class="btn btn-secondary" id="submit" type="submit">Edit profile</button></form></h3>
        </div>
    </div>

    <i><h4>From what period do you want to see your statistics?</h4></i>
    </p>
    <form action="/ownprofile" method="post">
        <div class="form-group">
            <select class="form-control" name="type" onchange="this.form.submit();">
                <option value="gekozen" selected disabled>{{ keuze }}</option>
                <option>short_term</option>
                <option value="medium_term">medium_term</option>
                <option value="long_term">long_term</option>
            </select>
        </div>
    </form>

    </p>
    <div style='float:left; width:30%' style="padding-bottom: 60px;">
        <b>Most listened songs</b>
        </p>
        </p>
        <ul class="list-group list-group-flush">
            {% for nummer in top_tracks %}
            <li class="list-group-item"><img src= {{ nummer[2] }} alt="nummer" width="35" height="35" align="left">{{ nummer[0] }} - {{ nummer[1] }}</li>
            {% endfor %}
        </ul>
    </div>

    <div style='float:left; width:30%; margin-left:35px'>
        <b>Most listened artists</b>
        </p>
        </p>
        <ul class="list-group list-group-flush">
            {% for artist in top_artists %}
            <li class="list-group-item"><img src= {{ artist[1] }} alt="nummer" width="35" height="35" align="left">{{ artist[0] }}</li>
            {% endfor %}
        </ul>
    </div>
    <div style='float:left; width:30%; margin-left:35px'>
        <b>Favorite genres</b>
        </p>
        <ul class="list-group list-group-flush">
            {% for genre in genres %}
            <li class="list-group-item">{{ genre }}</li>
            {% endfor %}
        </ul>
        </p>

        <h6 style="padding-top: 40px;"><b>Recently played</b></h6>
        </p>
        <ul class="list-group list-group-flush">
            {% for nummer in recent %}
            <li class="list-group-item"><img src= {{ nummer[2] }} alt="nummer" width="35" height="35" align="left">{{ nummer[0] }} - {{ nummer[1] }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="clear"></div>
    </div>

    <script>

    </script>
{% endblock %}