{% extends "layout.html" %}

{% block title %}
    Playlist
{% endblock %}

{% block main %}

<div id = "alert_placeholder"></div>
    <div class="blocks animate-bottom shadowdiv" style="padding: 2em; margin-top: 2em">
        <div class="row flex" style="align-items: center">
            <div class="col" style="margin-left: 2em">
                <h3>Your personal playlist</h3>
                <h5>We just generated a brand new playlist just for you!</h5>
            </div>
            <div class="button-right" class="col-">
                <form action="/playlist" method="post" id="form">
                    <button class="btn btn-light text-white buttons btn-lg" type="submit" name="songs" style="margin-right: 1em">Add to Spotify</button>
                </form>
            </div>
        </div>
    </div>
        <ul class="list-group list-group-flush results animate-bottom">
            {% for title in titles %}
                <li class="list-group-item"><img src= "{{ title['img'] }}" alt="nummer" width="35" height="35" align="left"><a href="{{ title['link'] }}" class="link" target="_blank">{{ ', '.join(title['artists']) }} - {{ title['name'] }}</a></li>
            {% endfor %}

        </ul>
<script type="text/javascript">
localStorage.setItem('uris', '{{ uris }}')
bootstrap_alert = function() {}
bootstrap_alert.warning = function(message) {
            $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert"></a><span>'+message+'</span></div>')
        }



</script>
{% endblock %}