{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="animate-bottom">
        <div class="row">
            <div class="col"></div>
            <div class="col blocks shadowdiv">
                <div class="center-cropped" style="background-image: url({{ profilepic }});"></div>
                <h3>{{ username }}
                <div>
                    {% if userid in following %}
                        <button type="submit" class="btn btn-light text-white btn-sm buttons" value="{{ username }}" onclick="changeButton(this)" name='follow'>Unfollow</button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-light buttons-outline btn-sm" value="{{ username }}" onclick="changeButton(this)" name='follow'>Follow</button>
                    {% endif %}
                </div>
                <div class="row flex" style="align-items: center">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <div style="font-size: 20px;">{{ followers }} </br>
                            followers
                        </div>
                    </div>
                    <div class="col-sm">
                        <div style="font-size: 20px; margin-right: 3em;">{{ followinglist }}</br>
                            following
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="animate-bottom results">
        <div class="row">
            <div class="col">
                <b>Favorite genres</b>
                <ul class="list-group list-group-flush">
                    {% for genre in genres %}
                        <li class="list-group-item">{{ genre }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <b>Most listened songs</b>
                </p>
                </p>
                <ul class="list-group list-group-flush">
                    {% for track in top_tracks %}
                        <li class="list-group-item"><img src= {{ track[2] }} alt="track" width="35" height="35" align="left">{{ track[0] }} - {{ track[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <b>Most listened artists</b>
                </p>
                </p>
                <ul class="list-group list-group-flush">
                    {% for artist in top_artists %}
                        <li class="list-group-item"><img src= {{ artist[1] }} alt="track" width="35" height="35" align="left">{{ artist[0] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script>

        // After clicking follow or unfollow button, change the appearance of the button
        function changeButton(button) {
            // Get the username of the followed person
            username = button.value;
            // Follow or unfollow user and change button
            $.ajax({
                type: "GET",
                url: "/follow?username=" + username,
                datatype: "json",
                async: false,
                success: function(data) {
                    // When following or unfollowing is succesfull
                    if (data == true) {
                        // Set button to a unfollow button when followed
                        if (button.className == "btn btn-outline-light buttons-outline btn-sm") {
                            button.innerHTML = "Unfollow";
                            button.className = "btn btn-light text-white btn-sm buttons";
                        }
                        // Set button to a follow button when unfollowed
                        else {
                            button.innerHTML = "Follow";
                            button.className = "btn btn-outline-light buttons-outline btn-sm";
                        }
                    }
                }
            });
        }

    </script>
{% endblock %}