{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="search" placeholder="Search for..." type="text">
            <select class="form-control" name="type">
                <option value="track">Tracks</option>
                <option value="artist">Artists</option>
                <option value="album">Albums</option>
            </select>
        </div>
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    {{ artists }} {{ pictures }}
{% endblock %}