{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="search" name="search" placeholder="Search for..." type="text">
            <select class="form-control" id="select" name="type">
                <option value="track">Tracks</option>
                <option value="artist">Artists</option>
                <option value="album">Albums</option>
            </select>
        </div>
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <div id="results"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        let input = document.querySelector('#search');
        let searchtype = document.querySelector('#select');

        input.onkeyup = function() {
            $.get('/searched?q=' + input.value + "&searchtype=" + searchtype.value, function(data) {
            document.querySelector('#results').innerHTML = data;
            });
        };

    </script>

{% endblock %}