{{ searchtype }}
{{ results }}

    <table>

    <!---Track Results--->
    {% if searchtype == 'track' %}
         <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Length</th>
                <th scope="col">Spotify Link</th>

            </tr>
        </thead>
        <tbody>
            <tr>
            {% for track in results['tracks']['items'] %}
                <td>{{ track['name'] }}</td>
                <!---artist--->
                <td>{{ track['album']['artists'][0]['name'] }}</td>
                <td>{{ track['album']['name'] }}</td>
                <td> {{ track['duration_ms'] }} </td>
                <!---photo--->
                <td><img src= "{{ track['album']['images'][0]['url'] }}" width='100px' height='100px'/></td>

                <!---spotify link--->
                <td><a href='{{ track['external_urls']['spotify'] }}'>Open in spotify</a></td>
            </tr>
            {% endfor %}
        </tbody>

    <!---artist results--->
    {% elif searchtype == 'artist' %}
        <thead>

            <tr>
                <th scope="col">HERE</th>
                <th scope="col">Artist</th>
                <th scope="col">Spotify Link</th>

            </tr>
        </thead>
         <tbody>
            <tr>
            {% for artist in results['artists']['items'] %}

                <!--{% if artist['images'] | length > 0 %}-->
                <td><img src= "{{ artist['images'][0]['url'] }}"  width='80px' height='80px'/></td>
                <!--{% endif %}-->
                <td>{{ artist['name'] }}</td>
                <td><a href='{{ artist['external_urls']['spotify'] }}'>Open in spotify</a></td>
            </tr>

            {% endfor %}
         </tbody>

    <!--album results-->
    {% elif searchtype == 'album' %}

    <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Album</th>
                <th scope="col">Artist</th>
                <th scope="col">Spotify Link</th>

            </tr>
    </thead>
        <tbody>
            {% for album in results['albums']['items'] %}
            <tr>
            <td><img src= "{{ result['images'][0]['url'] }}" width='100px' height='100px'/></td>
            <td>{{ album['name'] }}</td>
            <td>{{ album['artists'][0]['name'] }}</td>
            <td><a href='{{ result['external_urls']['spotify'] }}'>Open in spotify</a></td>
            </tr>
            {% endfor %}

        </tbody>
    {% endif %}
    </table>