{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <form action="/searched" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus placeholder="Search for..." type="text" name="search">
            <select class="form-control" name="type">
                <option value="track">Tracks</option>
                <option value="artist">Artists</option>
                <option value="album">Albums</option>
            </select>
            <button type='submit' class="btn btn-primary">Search</button>
        </div>
    </form>

{% endblock %}