{% extends "layout.html" %}

{% block title %}
    Add to Spotify
{% endblock %}

{% block main %}
<div style="margin-top: 100px; outline-style: groove; padding: 50px;background-color: lightGrey">
<h3>Share this song with your friends</h3>
<h5>Give your playlist a name:</h5>
<form name="theForm" action="/addedToSpotify" method="post">
    <div class="form-group">
         <input type="text" class="form-control"  name="playlistName" placeholder="My_MusicLink_Playlist">
        <button name="share_button" style="background-color:MediumSeaGreen">Add to Spotify</button>
    </div>

</form>
</div>
<Script>

$('#button').on('click', function() {
            bootstrap_alert.warning('Added to spotify!');
});

</Script>

{% endblock %}