{% extends "layout.html" %}

{% block title %}
    Get started
{% endblock %}

{% block main %}
<body id="startbody">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-secondary shadowdiv" id="startdiv">
        <div class="col-md-5 p-lg-5 mx-auto my-5 bg-light shadowdiv">
            <h1 class="display-4 font-weight-bold" id="musiclink">MusicLink</h1>
            <p class="lead font-weight-normal">
                Discover new music with friends and see your listening habits, just by linking Spotify! Get started now!
            </p>
            <a class="btn btn-success btn-lg" href="/authorise">Register</a>
            <p>Already an account? <a style="color: blue; cursor: pointer" onclick="openLogin()">Log in here!</a></p>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 ">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden flex-grow-1 shadowdiv">
            <div class="my-3 py-3">
                <h2 class="display-5">Discover what your friends listen to</h2>
                <p class="lead">Get recommendation based on your friends listening habits.</p>
                <img src="/static/friendship.png" width="200px">
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden flex-grow-1 shadowdiv">
            <div class="my-3 py-3">
                <h2 class="display-5">Insight in your Spotify behaviour</h2>
                <p class="lead">Who are your favourite artists and tracks?</p>
                <img src="/static/graph.png" width="200px">
            </div>
        </div>
    </div>

    <div class="form-popup bg-light shadowdiv" id="login">
        <form action="/login" method="post">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input type="text" id="username" class="form-control" placeholder="Enter username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>

<script>

    var opened = false;
    function openLogin(){
        if (opened == true) {
            document.getElementById("login").style.display = 'none';
        }
        else {
            document.getElementById("login").style.display = 'block';
        }
        opened = !opened;
    }

</script>

{% endblock %}